/* ============================================
HERO SECTION
============================================ */

.hero-section {
  position: relative;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: -80px;
}

@media (max-width: 768px) {
  .hero-section {
    margin-top: 0;
    margin-bottom: -114px;
  }
}

.hero-banner-wrapper {
  padding: 0 2.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-banner {
  background-color: #ca1528;
  width: 100%;
  max-width: 1024px;
  padding: 4.3rem 2rem;
  border-radius: 1.6rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-banner-content {
  color: white;
}

.hero-title-en {
  font-size: 1.8rem;
  font-family: "Avenir", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0 0 0.8rem 0;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .hero-title-en {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0 0 0.4rem 0;
  }
}

.hero-title-ja {
  font-size: 2.8rem;
  line-height: 3.8rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.05em;
}

@media (max-width: 768px) {
  .hero-title-ja {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.breadcrumb-wrapper {
  background-color: #f1ede7;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 3.2rem;
  position: relative;
  bottom: 80px;
}

@media (max-width: 768px) {
  .breadcrumb-wrapper {
    bottom: 40px;
  }
}

@media (max-width: 768px) {
  .breadcrumb-wrapper {
    height: 104px;
    padding-bottom: 2.4rem;
  }
}

.breadcrumb {
  font-size: 1.2rem;
  color: #555;
  display: flex;
  gap: 0.8rem;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
  box-sizing: content-box;
}

.breadcrumb a {
  color: #333;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #dc2626;
}

.breadcrumb span {
  color: #666;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 190px;
  }

  .hero-banner {
    width: 100%;
    padding: 2.1rem 1.5rem;
    border-radius: 0.8rem;
  }

  .breadcrumb {
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.2rem;
  }
}
/* ============================================
News detail SECTION
============================================ */
@media (max-width: 768px) {
  .breadcrumb {
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .breadcrumb::-webkit-scrollbar {
    display: none;
  }
}
.p-news-detail-section {
  padding: 6.4rem 2.4rem 12rem 2.4rem !important;
}

@media (max-width: 768px) {
  .p-news-detail-section {
    padding: 13.4rem 2rem 8rem 2rem !important;
  }
}

.p-news-detail-category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  width: 100%;
  padding: 0.3rem 2rem 0.2rem;
  border-radius: 9999px;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #dd0c1f;
  font-weight: 500;
}
.p-news-detail-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: #555;
  min-width: 66px;
}

.p-news-detail-title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.p-news-detail-h2 {
  color: #555;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 1px solid #9d9d9d;
  padding: 1.8rem 0.3rem 1.2rem;
  margin-bottom: 2.4rem;
}

@media (max-width: 768px) {
  .p-news-detail-h2 {
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
    margin-bottom: 1.8rem;
  }
}

.p-news-detail-content p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
  color: #555;
}

@media (max-width: 768px) {
  .p-news-detail-content p {
    margin-bottom: 1.4rem;
  }
}

.p-news-detail-back {
  display: inline-block;
  border: 1px solid #dd0c1f;
  color: #dd0c1f;
  padding: 1rem;
  border-radius: 9999px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  align-self: flex-start;
  max-width: 160px;
  text-align: center;
  width: 100%;
  height: 4rem;
}
.p-news-detail-back:hover {
  background-color: #dc2626;
  color: white;
}
.p-news-detail-btn {
  text-align: center;
  margin-top: 2.4rem;
}
