:root {
    --color-beige: #F1EDE7;
    --color-red: #CA1528;
}

body{
    color: #555;
}

/* ============================================
HERO SECTION
============================================ */
.hero-section {
    position: relative;
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top: 72px;
	margin-bottom: -80px;
}

@media (max-width: 768px) {
	.hero-section {
		margin-top: 0;
        padding-top: 64px;
		margin-bottom: -114px;
	}
    .header-content{
        padding: 0!important;
    }
    .header-inner{
        max-width: 100%!important;
    }
}

.hero-banner-wrapper {
	padding: 0 2.4rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hero-banner {
    background-color: var(--color-red);
    width: 100%;
    max-width: 1024px;
	padding: 4.3rem 2rem;
    border-radius: 1.6rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.hero-banner-content {
    color: white;
}

.hero-title-en {
    font-size: 1.8rem;
	font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0 0 0.8rem 0;
    letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	.hero-title-en {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin: 0 0 0.4rem 0;
	}
}

.hero-title-ja {
    font-size: 2.8rem;
	line-height: 3.8rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
	.hero-title-ja {
		font-size: 2rem;
		line-height: 2.7rem;
	}
}

.breadcrumb-wrapper {
	background-color: var(--color-beige);
	width: 100%;
	height: 160px;
	display: flex;
    align-items: end;
    justify-content: center;
	padding-bottom: 3.2rem;
	position: relative;
    bottom: 80px;
}

@media (max-width: 768px) {
	.breadcrumb-wrapper {
		bottom: 40px;
	}
}

@media (max-width: 768px) {
	.breadcrumb-wrapper {
		height: 104px;
		padding-bottom: 2.4rem;
	}
}

.breadcrumb {
    font-size: 1.2rem;
    color: #555;
    display: flex;
    gap: 0.8rem;
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding: 0 24px;
	box-sizing: content-box;
}

.breadcrumb a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #DC2626;
}

.breadcrumb span {
    color: #666;
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 190px;
    }

    .hero-banner {
        width: 100%;
        padding: 2.1rem 1.5rem;
        border-radius: 0.8rem;
    }

    .breadcrumb {
        bottom: 1.5rem;
        left: 1.5rem;
        font-size: 1.2rem;
    }
}



/* ============================================
PAGE COMMON
============================================ */
.p-premium-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2.4rem;
    box-sizing: content-box;
    position: relative;
    z-index: 2;
}
@media (max-width: 768px) {
    .p-premium-container {
        padding: 0 2rem;
    }
}

.p-premium-container-bg {
    position: relative;
    padding: 4.8rem 0;
}
@media (max-width: 768px) {
    .p-premium-container-bg {
        padding: 3.2rem 0;
    }
}

.p-premium-container-bg:before {
    content: '';
    display: block;
    background: var(--color-beige);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 92.5%;
    height: 100%;
    border-radius: 0 40px 40px 0;
}

.p-premium-container-bg.bg-right:before {
    left: auto;
    right: 0;
    border-radius: 40px 0 0 40px;
}


@media (max-width: 1320px) {
    .p-premium-container-bg:before {
        width: calc(100% - 2.4rem);
    }
    .p-premium-container-bg:not(.bg-right) .p-premium-container {
        padding-right: 4.8rem;
    }
    .p-premium-container-bg.bg-right .p-premium-container {
        padding-left: 4.8rem;
    }
}

@media (max-width: 768px) {
    .p-premium-container-bg:before {
        width: calc(100% - 2rem);
    }
    .p-premium-container-bg:not(.bg-right) .p-premium-container {
        padding-right: 4rem;
    }
    .p-premium-container-bg.bg-right .p-premium-container {
        padding-left: 4rem;
    }
}

.section-head {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 700;
    padding: .8rem 0 .8rem 2.4rem;
    border-left: 1rem solid #DD0C1F;
}

.section-caption {
    font-size: 1.6rem;
    letter-spacing: 0.16rem;
    margin: 1.8rem 0 3.2rem;
    padding-left: 3.4rem;
}
@media (max-width: 768px) {
    .section-caption {
        padding-left: 0;
        margin: 1.2rem 0 2.4rem;
    }
}


/* btn */
.p-premium-cta-wrapper  {
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 4.5rem;
}
@media (max-width: 768px) {
    .p-premium-cta-wrapper  {
        display: block;
    }
}

.p-premium-cta-button {
    display: block;
    text-align: center;
    background-color: #CA1528;
    color: #fff;
    padding: 1.8rem 6.4rem;
    line-height: 1.25;
    text-decoration: none;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 700;
    transition: opacity 0.3s ease;
    border: 2px solid #CA1528;
    transition: all 0.3s ease;
}
@media (max-width: 768px) {
    .p-premium-cta-button {
        padding: 1.8rem 0;
        font-size: 1.8rem;
        width: 100%;
    }
    .p-premium-cta-button + .p-premium-cta-button {
        margin-top: 2.4rem;
    }
}


.p-premium-cta-button:hover {
    background-color: #fff;
    color: #CA1528;
}



/* ============================================
いきいきポイントカード
============================================ */
.p-premium-pointcard {
    padding-top: 8rem;
}
@media (max-width: 768px) {
    .p-premium-pointcard {
        padding-top: 10.4rem;
    }
    .p-premium-pointcard .section-head {
        font-size: 1.6rem;
        padding: 1.06rem 0 1.06rem 1.8rem;
    }
}

.p-premium-card-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .p-premium-card-list {
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 3.2rem;
    }
}

.p-premium-card-list-item {
    width: calc(322/1024*100%);
    margin-top: calc(88/1024*100%);
    background: #fff;
    position: relative;
    padding: calc(110/1024*100%) 2.4rem 2.4rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    .p-premium-card-list-item {
        width: 100%;
        margin-top: calc(88/330*100%);
        padding: calc(98/330*100%) 2.4rem 2.4rem;
    }
}

.p-premium-card-list-item .card-img {
    width: calc(272/322*100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    translate: 0 -50%;
}

.p-premium-card-list-item .card-name {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.p-premium-card-list-item .card-cap {
    font-size: 1.6rem;
    margin: 1.6rem 0 2.4rem;
    letter-spacing: .1em;
}

.p-premium-card-list-item .more {
    text-align: center;
    display: inline-block;
    border-radius: 2.4rem;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    margin-top: auto;
    width: 16rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Avenir", "Helvetica Neue", sans-serif;
    transition: .3s ease;
}

.p-premium-card-list-item .more:hover {
    background: var(--color-red);
    color: #fff;
}

/* ============================================
プレミアム会員制度
============================================ */
.p-premium-system {
    padding-top: 12rem;
}
@media (max-width: 768px) {
    .p-premium-system{
        padding-top: 8rem;
    }
}

.p-premium-system-box1 {
    background: var(--color-beige);
    border-radius: 20px;
    padding: 3.2rem 6.4rem;
    margin-top: 3.2rem;
    letter-spacing: .1em;
}
@media (max-width: 768px) {
    .p-premium-system-box1 {
        padding: 3.2rem 2.4rem;
    }
}

.p-premium-system-box1 .row1 {
    font-size: 2.4rem;
    font-weight: 700;
}
@media (max-width: 768px) {
    .p-premium-system-box1 .row1 {
        font-size: 1.8rem;
    }
}

.p-premium-system-box1 .row2 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .p-premium-system-box1 .row2 {
        flex-wrap: wrap;
    }
}

.p-premium-system-box1 .row2 .text1 {
    background: var(--color-red);
    color: #fff;
    padding: 1rem 1.8rem;
    font-size: 2.4rem;
    font-weight: 500;
    border-radius: .8rem;
    margin-right: 1.7rem;
}
@media (max-width: 768px) {
    .p-premium-system-box1 .row2 .text1 {
        width: 100%;
        font-size: 1.7rem;
        margin: 0 0 1rem;
    }
}

.p-premium-system-box1 .row2 .text3 {
    color: var(--color-red);
    font-size: 4rem;
    font-weight: 700;
    margin-left: 1.2rem;
}

.p-premium-system-box2 {
    margin-top: 3.2rem;
}
@media (max-width: 768px) {
    .p-premium-system-box2 {
        margin-top: 2.4rem;
    }
}

.p-premium-system-box3 {
    padding-top: 6.4rem;
}
@media (max-width: 768px) {
    .p-premium-system-box3 {
        padding-top: 2.4rem;
    }
}

.p-premium-system-box3 .box-head {
    padding: 1.3rem 3.2rem;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
@media (max-width: 768px) {
    .p-premium-system-box3 .box-head {
        padding: .9rem 1.8rem;
        column-gap: .8rem;
    }
}

.p-premium-system-box3 .box-head::before {
    content: '';
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: var(--color-red);
}

.p-premium-system-box3 .box-head span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1em;
}
@media (max-width: 768px) {
    .p-premium-system-box3 .box-head span {
        font-size: 1.4rem;
        letter-spacing: .05em;
    }
}


/* ============================================
Q&A
============================================ */
.p-premium-faq {
    padding: 12rem 0;
}
@media (max-width: 768px) {
    .p-premium-faq {
        padding: 8rem 0;
    }
}

.p-premium-faq .p-premium-container-bg {
    margin-top: 4.2rem;
}


/* ============ アコーディオン ============ */

.faq-list{
    list-style: none;
}

.faq-item {
    border-radius: 0.8em;
    background-color: #fff;
    overflow: hidden;
    letter-spacing: .1em;
}

.faq-item + .faq-item {
    margin-top: 2.4rem;
}
@media (max-width: 768px) {
    .faq-item + .faq-item {
        margin-top: 1.8rem;
    }
}

.faq-item .faq-index {
    display: inline-block;
    color: var(--color-red);
    font-family: "Avenir", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 6.5rem;
}
@media (max-width: 768px) {
    .faq-item .faq-index {
        font-size: 1.8rem;
        width: auto;
        margin-right: .8rem;
        flex-shrink: 0;
    }
}

.faq-question {
    padding: 1.8rem 2.4rem;
    cursor: pointer;
}
@media (max-width: 768px) {
    .faq-question{
        line-height: 1.9rem;
        padding: 1.8rem;
    }
}

.faq-question-inner {
    display: flex;
    align-items: center;
}

.faq-question-text {
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: .8rem;
}
@media (max-width: 768px) {
    .faq-question-text {
        font-size: 1.4rem;
    }
}

.faq-toggle {
    background-color: var(--color-red);
    width: 2rem;
    height: 0.2rem;
    transform: rotate(90deg);
    position: relative;
    margin-left: auto;
}
@media (max-width: 768px) {
    .faq-toggle{
        width: 1.5rem;
    }
}

.faq-toggle::after {
    content: "";
    display: block;
    background-color: var(--color-red);
    width: 2rem;
    height: 0.2rem;
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .faq-toggle::after {
        width: 1.5rem;
    }
}

.faq-item.active .faq-toggle {
    transform: rotate(0deg);
}

.faq-item.active .faq-toggle::after {
    transform: rotate(0deg);
}



.faq-answer {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer-inner {
    padding: 1.1rem 0 1.8rem;
    margin: 0 2.4rem;
    display: flex;
    align-items: flex-start;
    border-top: 2px solid var(--color-beige);
}

@media (max-width: 768px) {
    .faq-answer-inner {
        margin: 0 1.8rem!important;
        padding: 0.8rem 0 1.8rem;
        font-size: 1.4rem;
    }
}

.faq-answer-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
}
@media (max-width: 768px) {
    .faq-answer-text {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

.faq-answer-text a {
   text-decoration: underline;
}

.faq-answer-text .list {
    list-style: none;
}

.faq-answer-text .list li {
    padding-left: 1em;
    text-indent: -1em;
}

.faq-answer-text .list li::before {
    content: '・';
}

.faq-cta {
    width: 100%;
    margin: 3.2rem auto 0;
    text-align: center;
}

.faq-cta-btn {
    display: inline-block;
    border: 1px solid var(--color-red);
    max-width: 314px;
    height: 4rem;
    width: 100%;
    color: var(--color-red);
    border-radius: 1.6rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
    font-weight: 500;
    letter-spacing: .2em;
    transition: 0.3s ease;
}

.faq-cta-btn:hover {
    background-color: var(--color-red);
    color: white;
}

