:root {
    --color-beige: #F1EDE7;
    --color-red: #CA1528;
    --color-border: #9D9D9D;
}

/* body{
    color: #555;
} */

/* ============================================
HERO SECTION
============================================ */
.hero-section {
    position: relative;
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top: 72px;
	margin-bottom: -80px;
}

@media (max-width: 768px) {
	.hero-section {
		margin-top: 0;
        padding-top: 64px;
		margin-bottom: -114px;
	}
    .header-content{
        padding: 0!important;
    }
    .header-inner{
        max-width: 100%!important;
    }
}

.hero-banner-wrapper {
	padding: 0 2.4rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hero-banner {
    background-color: var(--color-red);
    width: 100%;
    max-width: 1024px;
	padding: 4.3rem 2rem;
    border-radius: 1.6rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.hero-banner-content {
    color: white;
}

.hero-title-en {
    font-size: 1.8rem;
	font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0 0 0.8rem 0;
    letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	.hero-title-en {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin: 0 0 0.4rem 0;
	}
}

.hero-title-ja {
    font-size: 2.8rem;
	line-height: 3.8rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
	.hero-title-ja {
		font-size: 2rem;
		line-height: 2.7rem;
	}
}

.breadcrumb-wrapper {
	background-color: var(--color-beige);
	width: 100%;
	height: 160px;
	display: flex;
    align-items: end;
    justify-content: center;
	padding-bottom: 3.2rem;
	position: relative;
    bottom: 80px;
}

@media (max-width: 768px) {
	.breadcrumb-wrapper {
		bottom: 40px;
	}
}

@media (max-width: 768px) {
	.breadcrumb-wrapper {
		height: 104px;
		padding-bottom: 2.4rem;
	}
}

.breadcrumb {
    font-size: 1.2rem;
    color: #555;
    display: flex;
    gap: 0.8rem;
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding: 0 24px;
	box-sizing: content-box;
}

.breadcrumb a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #DC2626;
}

.breadcrumb span {
    color: #666;
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 190px;
    }

    .hero-banner {
        width: 100%;
        padding: 2.1rem 1.5rem;
        border-radius: 0.8rem;
    }

    .breadcrumb {
        bottom: 1.5rem;
        left: 1.5rem;
        font-size: 1.2rem;
    }
}



/* ============================================
PAGE COMMON
============================================ */
.p-shopinfo-section {
	padding: 0 0 12rem 0 !important;
}
@media (max-width: 768px) {
    .p-shopinfo-section {
        padding: 0 0 8rem 0 !important;
    }
}

.p-shopinfo-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2.4rem;
    box-sizing: content-box;
    position: relative;
    z-index: 2;
}
@media (max-width: 768px) {
    .p-shopinfo-container {
        padding: 0 2rem;
    }
}

.p-shopinfo-container-bg {
    position: relative;
    padding: 4.8rem 0;
}
@media (max-width: 768px) {
    .p-shopinfo-container-bg {
        padding: 3.2rem 0;
    }
}

.p-shopinfo-container-bg:before {
    content: '';
    display: block;
    background: var(--color-beige);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 92.5%;
    height: 100%;
    border-radius: 0 40px 40px 0;
}

.p-shopinfo-container-bg.bg-right:before {
    left: auto;
    right: 0;
    border-radius: 40px 0 0 40px;
}


@media (max-width: 1320px) {
    .p-shopinfo-container-bg:before {
        width: calc(100% - 2.4rem);
    }
    .p-shopinfo-container-bg:not(.bg-right) .p-shopinfo-container {
        padding-right: 4.8rem;
    }
    .p-shopinfo-container-bg.bg-right .p-shopinfo-container {
        padding-left: 4.8rem;
    }
}

@media (max-width: 768px) {
    .p-shopinfo-container-bg:before {
        width: calc(100% - 2rem);
    }
    .p-shopinfo-container-bg:not(.bg-right) .p-shopinfo-container {
        padding-right: 4rem;
    }
    .p-shopinfo-container-bg.bg-right .p-shopinfo-container {
        padding-left: 4rem;
    }
}

.section-head {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 700;
    padding: .8rem 0 .8rem 2.4rem;
    border-left: 1rem solid #DD0C1F;
}



/* ============================================
フィルター
============================================ */
.p-shopinfo-filter {
    padding-top: 8rem;
}
@media (max-width: 768px) {
    .p-shopinfo-filter {
        padding-top: 10.4rem;
    }
}

.p-shopinfo-filter .p-shopinfo-container {
    display: flex;
}
@media (max-width: 768px) {
    .p-shopinfo-filter .p-shopinfo-container {
        display: block;
    }
}

.p-shopinfo-filter-title {
    width: calc(224/1024*100%);
    font-size: 2rem;
    font-weight: 700;
}
@media (max-width: 768px) {
    .p-shopinfo-filter-title  {
        width: 100%;
    }
}

.p-shopinfo-filter-list {
    width: calc(800/1024*100%);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.6rem;
}
@media (max-width: 768px) {
    .p-shopinfo-filter-list  {
        width: 100%;
        margin-top: 1.8rem;
        justify-content: center;
        gap: 1.2rem;
    }
}

.p-shopinfo-filter-list-item {
    text-align: center;
    padding: 1.1rem 0.8rem;
    border-radius: 24px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .3s ease;
    background-color: white;
    color: #555555;
    max-width: 160px;
    width: 100%;
    border: 1px solid #9D9D9D;
    cursor: pointer;
}


.p-shopinfo-filter-list-item.active {
    background: var(--color-red);
    border-color: var(--color-red);
    color: #fff;
}


/* ============================================
店舗情報詳細
============================================ */
.p-shopinfo-detail {
    padding-top: 6.4rem;
}
@media (max-width: 768px) {
    .p-shopinfo-detail {
        padding-top: 3.2rem;
    }
}

.detail-list-item {
    display: none;
}

.detail-list-item.active {
    display: block;
}

.detail-list-item-inner {
    padding: 0 3.4rem;
}
@media (max-width: 768px) {
    .detail-list-item-inner {
        padding: 0;
    }
}

.detail-head {
    display: flex;
    align-items: flex-start;
    font-size: 1.6rem;
    margin-top: 3.2rem;
    letter-spacing: .1em;
}
@media (max-width: 768px) {
    .detail-head {
        display: block;
        font-size: 1.4rem;
    }
}

.detail-head-left {
    width: calc(453/956*100%);
    font-weight: 500;
}
@media (max-width: 768px) {
    .detail-head-left {
        width: 100%;
        line-height: 1;
    }
}

.detail-head-left .time span {
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .detail-head-left .time {
        line-height: 1;
    }
    .detail-head-left .time span {
        font-size: 2rem;
    }
}

.detail-head-right {
    width: calc(571/956*100%);
    min-width: 470px;
    background: var(--color-beige);
    border-radius: 24.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.8rem 0;
    line-height: 1;
}
@media (max-width: 768px) {
    .detail-head-right {
        width: 100%;
        min-width: initial;
        display: block;
        background: transparent;
        padding: 0;
    }
}

.detail-head-right .number {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
@media (max-width: 768px) {
    .detail-head-right .number {
        margin-top: 1.8rem;
    }
}

.detail-head-right .number a {
    display: inline;
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

.detail-head-right .number a:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    .address {
        margin-top: 1.8rem;
    }
    .address span {
        display: block;
    }
}

.detail-map {
    margin-top: 3.2rem;
    aspect-ratio: 940/514;
}
@media (max-width: 768px) {
    .detail-map {
        margin-top: 1.8rem;
        aspect-ratio: 348/190;
    }
}

.detail-map iframe {
    width: 100%;
    height: 100%;
}

/* ============================================
チラシ
============================================ */
.p-shopinfo-flyer {
    padding-top: 8rem;
}
@media (max-width: 768px) {
    .p-shopinfo-flyer {
        padding-top: 6.4rem;
    }
}

.p-shopinfo-flyer .section-title {
    margin-bottom: 2.4rem;
}

.p-shopinfo-flyer-slider {
    height: 332px;
    display: none;
}
@media (max-width: 768px) {
    .p-shopinfo-flyer-slider {
        height: 208px;
    }
}

.p-shopinfo-flyer-slider.active {
    display: block;
}

.p-shopinfo-flyer-slider iframe {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .p-shopinfo-flyer-slider iframe {
        width: auto;
        margin: 0 auto;
    }
}



/* ============================================
インフォメーション
============================================ */
.p-shopinfo-info {
    padding-top: 8rem;
}
@media (max-width: 768px) {
    .p-shopinfo-info {
        padding-top: 6.4rem;
    }
}

.p-shopinfo-info .section-title {
    margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
    .p-shopinfo-info .section-title {
        margin-bottom: 4rem;
    }
    .p-shopinfo-info .section-title .title-ja {
        margin-top: 0;
        margin-left: 3.6rem;
    }
}


.info-list {

}

.info-list-item {
    display: none;
}

.info-list-item.active {
    display: block;
}

.info-post-list {
    display: flex;
    list-style: none;
}
@media (max-width: 768px) {
    .info-post-list {
        display: block;
    }
}

.info-post-list-item {
    width: calc(320/1024*100%);
}
@media (max-width: 768px) {
    .info-post-list-item {
        width: 100%;
    }
}

.info-post-list-item + .info-post-list-item {
    margin-left: calc(16/1024*100%);
}
@media (max-width: 768px) {
    .info-post-list-item + .info-post-list-item {
        margin: 3.2rem 0 0;
    }
}

.info-post-list-item .post-thumb {
    border: 1px solid var(--color-border);
    border-radius: .8rem;
    aspect-ratio: 320/200;
    overflow: hidden;
    padding: 2rem;
}

.info-post-list-item .post-thumb img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.info-post-list-item .post-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
}



/* ============================================
戻るボタン
============================================ */
.p-shopinfo-back {
     padding: 8rem 0 0;
}
@media (max-width: 768px) {
    .p-shopinfo-back {
        padding-top: 3.2rem;
    }
}


.p-shopinfo-back .back {
    display: block;
    width: 16rem;
    height: 4rem;
    line-height: 3.8rem;
    text-align: center;
    border: 1px solid var(--color-red);
    color: var(--color-red);
    border-radius: 2.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s ease;
}

.p-shopinfo-back .back:hover {
    background-color: var(--color-red);
    color: #fff;
    border-color: var(--color-red);
}
