/* ============================================
HERO SECTION
============================================ */

.hero-section {
    position: relative;
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top: 72px;
	margin-bottom: -80px;
}

@media (max-width: 768px) {
	.hero-section {
		margin-top: 0;
		margin-bottom: -114px;
	}
}

.hero-banner-wrapper {
	padding: 0 2.4rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hero-banner {
    background-color: #CA1528;
    width: 100%;
    max-width: 1024px;
	padding: 4.3rem 2rem;
    border-radius: 1.6rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.hero-banner-content {
    color: white;
}

.hero-title-en {
    font-size: 1.8rem;
	font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0 0 0.8rem 0;
    letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	.hero-title-en {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin: 0 0 0.4rem 0;
	}
}

.hero-title-ja {
    font-size: 2.8rem;
	line-height: 3.8rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
	.hero-title-ja {
		font-size: 2rem;
		line-height: 2.7rem;
	}
}

.breadcrumb-wrapper{
	background-color:#F1EDE7;
	width: 100%;
	height: 160px;
	display: flex;
    align-items: end;
    justify-content: center;
	padding-bottom: 3.2rem;
	position: relative;
    bottom: 80px;
}

@media (max-width: 768px) {
	.breadcrumb-wrapper {
		height: 144px;
		padding-bottom: 2.4rem;
	}
}

.breadcrumb {
    font-size: 1.2rem;
    color: #555;
    display: flex;
    gap: 0.8rem;
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding: 0 24px;
	box-sizing: content-box;
}

.breadcrumb a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #DC2626;
}

.breadcrumb span {
    color: #666;
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 300px;
    }
    
    .hero-banner {
        width: 100%;
        padding: 2.1rem 1.5rem;
        border-radius: 0.8rem;
    }
    
    .breadcrumb {
        bottom: 1.5rem;
        left: 1.5rem;
        font-size: 1.2rem;
    }
}


/* ============================================
SHOP INFO SECTION
============================================ */

.p-shop-info-section {
	padding: 7.2rem 0 0 2.4rem!important;
}

.p-shop-info-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.6rem;
}

@media (max-width: 768px) {
	.p-shop-info-header {
		margin-bottom:2.4rem;
	}
}

.p-shop-info-header .title-ja{
	margin-top: 1.6rem;
	margin-left: 0;
}

@media (max-width: 768px) {
	.p-shop-info-header .title-ja{
		margin-top: 0;
		margin-left: 3.6rem;
	}
}


.p-shop-info-header .section-title{
	gap: 1.2rem;
}

@media (max-width: 768px) {
	.p-shop-info-header .section-title{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
	}
}

.p-shop-grid {
	gap: 6.4rem;
	padding: 4.4rem 0 4.4rem 0;
	position: relative;
	z-index: 2;
}

@media (max-width: 1240px) {
	.p-shop-grid {
		padding: 4.4rem 2rem 4.4rem;
	}
}

@media (max-width: 768px) {
	.p-shop-grid {
		padding: 3.6rem 2.4rem 4.8rem 2.4rem;
		gap: 3.2rem;
		flex-direction: column;
		align-items: center;
	}
}

.p-shop-panel {
	max-width: 1024px;
	width: 100%;
	margin: 7.2rem auto 0;
	display: flex;
	justify-content: space-between;
	gap: 8.4rem;
}

@media (max-width: 768px) {
	.p-shop-panel {
		flex-direction: column;
		gap: 3.2rem;
		margin: 0 auto;
	}
}

/* ============================================
STORE LIST SECTION
============================================ */

.p-store-list-section {
	padding: 7.2rem 2.4rem  0 2.4rem!important;
	background-color: #fff;
}

@media (max-width: 768px) {
	.p-store-list-section {
		padding: 3.2rem 0 0 0!important;
	}
}

.p-shop-panel-list {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.p-shop-panel-list {
		padding: 3.2rem 2.4rem 0;
	}
}

.p-shop-panel-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.p-shop-grid-wrapper {
	position: relative;
}

.p-shop-grid-wrapper::before {
	content: "";
	display: block;
	background: #F1EDE7;
	height: 100%;
	width: 92.5%;
	margin-left: 7.5%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 40px 0 0 40px;
	z-index: 1;
}

@media (max-width: 1320px) {
	.p-shop-grid-wrapper::before {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 1240px) {
	.p-shop-grid-wrapper {
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.p-shop-grid-wrapper {
		width: 100%;
		border-radius: 0;
	}
}

@media (max-width: 1024px) {
	.p-shop-grid {
		grid-template-columns: 1fr;
	}
}

.p-shop-info-prefecture-tabs__wrapper {
	flex:1;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-tabs__wrapper {
		order: 1;
	}
}

.p-shop-info-prefecture-tabs {
	display: none;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-tabs {
		display: flex;
		margin-bottom: 2.4rem;
		border-bottom: 1px solid #555;
	}

	.p-shop-info-prefecture-tab {
		max-width: 138px;
		width: 100%;
		background: none;
		border: none;
		color: #555;
		font-size: 2rem;
		font-weight: 600;
		cursor: pointer;
		border-top: 1px solid #555555;
		border-left: 1px solid #555555;
		border-right: 1px solid #555555;
		transition: all 0.3s ease;
		border-radius: 8px 8px 0 0;
		padding: 0.3rem 1.6rem;
		background-color: #fff;
	}

	.p-shop-info-prefecture-tab+.p-shop-info-prefecture-tab {
		margin-left: 0.3rem;
	}

	.p-shop-info-prefecture-tab.active {
		color: #fff;
		background-color: #555555;
	}

	.p-shop-info-prefecture-tab:hover {
		opacity: 0.7;
	}
}

.p-shop-info-prefecture-section {
	margin-bottom: 3.2rem;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-section {
		margin-bottom: 0;
	}
}

.p-shop-info-prefecture-title {
	font-size: 2rem;
	line-height: 2.7rem;
	font-weight: 700;
	color: #555555;
	margin-bottom: 1.6rem;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-title {
		display: none;
	}

	.p-shop-info-prefecture-section[data-tab-content="chugoku"] {
		display: none;
	}
}

/* PC画面では両方のセクションを表示 */

@media (min-width: 769px) {

	.p-shop-info-prefecture-section[data-tab-content="kinki"],
	.p-shop-info-prefecture-section[data-tab-content="chugoku"] {
		display: block !important;
	}
}

.p-shop-info-prefecture-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1.6rem;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-buttons {
		gap: 1.6rem;
	}
}


@media (max-width: 390px) {
	.p-shop-info-prefecture-buttons {
		gap: 1.2rem 0.8rem;
	}
}

.p-shop-info-prefecture-btn {
	background-color: white;
	max-width: 100px;
	width: 100%;
	color: #555555;
	height: 40px;
	padding: 0.8rem 0.9rem;
	border-radius: 0.8rem;
	font-size: 1.4rem;
	line-height: 1.9rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

@media (max-width: 768px) {
	.p-shop-info-prefecture-btn {
		max-width: 96px;
		width: 100%;
		height: 48px;
	}
}

.p-shop-info-prefecture-btn:hover {
	border-color: #9ca3af;
}

.js-prefecture-btn.active {
	background-color: #dc2626;
	color: white;
	border-color: #dc2626;
}

.map-container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 432px;
	width: 100%;
}

@media (max-width: 768px) {
	.map-container {
		order: 2;
	}
}

.map-image {
	width: 100%;
	height: auto;
}

.store-list{
	display: flex;
	flex-direction: column;
	gap:2.4rem;
}

.store-list-title {
	font-size: 2rem;
	line-height: 2.7rem;
	font-weight: 700;
	color: #555555;
	margin-bottom: 4.8rem;
	position: relative;
    padding-left: 2.6rem;
}

@media (max-width: 768px) {
	.store-list-title {
		font-size: 1.8rem;
		margin-bottom: 4rem;
		padding-left: 2.2rem;
	}
}

.store-list-title::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 4.2rem;
	background-color: #DD0C1F;
}

.store-item {
	padding: 0 2.4rem 2.4rem 1.6rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #9D9D9D;
}

@media (max-width: 768px) {
	.store-item {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.6rem;
		padding: 0 0 2.4rem 0;
	}
}

.store-name {
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-weight: 700;
	color: #555555;
	margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
	.store-name {
		margin-bottom: 1.6rem;
	}
}

.store-name a {
	text-decoration: none;
}

.store-name a:hover {
	text-decoration: none;
}

.store-info-wrapper {
	display: flex;
	flex-direction: column;
}

.store-info-wrapper-under {
	display: flex;
	gap: 1.6rem;
	align-items: center;
}

@media (max-width: 824px) {
	.store-info-wrapper-under {
		flex-direction: column;
		gap: 1.6rem;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.store-info-wrapper-under .store-info {
	margin-bottom: 0;
}

.store-info-divider{
	font-size: 2rem;
	line-height: 2.7rem;
}

@media (max-width: 824px) {
	.store-info-divider {
		display: none;
	}
}

.store-info {
	font-size: 1.6rem;
	line-height: 2.2rem;
	color: #555555;
	margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
	.store-info {
		margin-bottom: 1.6rem;
	}
}

.store-info .time{
	font-size: 2rem;
	font-weight: 600;
	line-height: 2rem;
	margin-left: 1.6rem;
	font-family: 'Avenir', 'Helvetica Neue', sans-serif;
	letter-spacing: 0.1em;
}

.store-info a{
	text-decoration: underline;
	font-size: 2rem;
	line-height: 2rem;
	margin-left: 1.6rem;
	font-weight: 600;
	font-family: 'Avenir', 'Helvetica Neue', sans-serif;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	.store-info {
		font-size: 1.4rem;
		line-height: 1.9rem;
	}
}

.store-btn-wrapper{
	display: flex;
	gap: 1.6rem;
}